<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blossom.sagittarius.dao.UserDao">
    
    <resultMap type="UserDO" id="user">
    	<result property="realName" column="real_name"/>
    </resultMap>
    
    <insert id="createUser" parameterType="UserDO">
    	insert into user(username, password, real_name, birthday, creator)
    	values(#{username}, #{password}, #{realName}, #{birthday}, #{creator})
    </insert>
    
    <select id="getByUsername" resultMap="user">
        select * from user where username = #{username}
    </select>
</mapper>